@{
    ViewBag.Title = "About";
}

<link href="~/Content/AboutCss.css" rel="stylesheet" />

<body>
    <div class="about-section">
        <h1>ULearn</h1>
        <p>Chúng tôi là trang web bán khóa học mang đến những khóa học tuyệt vời dành cho những người muốn nâng cao kỹ năng và kiến thức của mình trong lĩnh vực.</p>
        <p>Hãy để chúng tôi giúp bạn trở thành chuyên gia trong lĩnh vực bạn mong muốn.</p>
    </div>

    @*<div class="gioi_thieu">

            <h1 style="text-align:center"> Về Khóa Học </h1>

            <div class="column_gioithieu">
                <div class="col1">
                    <img src="~/Images/tao-va-ban-khoa-hoc-truc-tuyen.jpg" class="hinhanh" style="width: 100%; height: auto;" />
                </div>
                <div class="col1">
                    <h2>
                        <p>
                            Khóa học "Tên khóa học" được thiết kế bởi các chuyên gia hàng đầu trong ngành "Tên lĩnh vực", đảm bảo mang đến cho bạn những kiến thức chất lượng và thực tiễn.<br>
                            Với phương pháp giảng dạy tinh vi và các tài liệu học tập phong phú, khóa học này sẽ giúp bạn tiếp cận và hiểu rõ hơn về các khía cạnh quan trọng trong lĩnh vực "Tên lĩnh vực".<br>
                            Trong khóa học, bạn sẽ được hướng dẫn từ cơ bản đến nâng cao, từng bước một.<br>
                            Bạn sẽ học cách áp dụng các kỹ thuật và công cụ mới nhất, giúp bạn trở thành một chuyên gia trong "Tên lĩnh vực".<br>
                            Ngoài ra, chúng tôi cũng sẽ cung cấp các bài tập thực hành và dự án thực tế, giúp bạn rèn luyện kỹ năng và ứng dụng kiến thức vào thực tế.<br>
                        </p>
                    </h2>
                </div>
            </div>
        </div>*@

    <div class="gioi_thieu">
        <h1 style="text-align:center">Về Khóa Học</h1>

        <div class="column_gioithieu">
            <div class="col1">
                <img src="~/Images/tao-va-ban-khoa-hoc-truc-tuyen.jpg" class="hinhanh" style="width: 100%; height: auto;" />
            </div>
            <div class="col1">
                <h2>Khóa học của chúng tôi</h2>
                <p>
                    Được thiết kế bởi các chuyên gia hàng đầu trong lĩnh vực Kinh Tế, Kĩ Thuật, Y học, Nghệ Thuật. Đảm bảo mang đến cho bạn những kiến thức chất lượng và thực tiễn.

                    Với phương pháp giảng dạy tinh vi và các tài liệu học tập phong phú, khóa học này sẽ giúp bạn tiếp cận và hiểu rõ hơn về các khía cạnh quan trọng trong lĩnh vực Kinh Tế, Kĩ Thuật, Y học, Nghệ Thuật.

                    Trong khóa học, bạn sẽ được hướng dẫn từ cơ bản đến nâng cao, từng bước một. Bạn sẽ học cách áp dụng các kỹ thuật và công cụ mới nhất, giúp bạn trở thành một chuyên gia trong Kinh Tế, Kĩ Thuật, Y học, Nghệ Thuật.

                    Ngoài ra, chúng tôi cũng sẽ cung cấp các bài tập thực hành và dự án thực tế, giúp bạn rèn luyện kỹ năng và ứng dụng kiến thức vào thực tế.
                </p>
            </div>
        </div>
    </div>

    <h1 style="text-align:center">Các Khóa Học</h1>
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="~/Images/8600.jpg" alt="Khóa Học Trực Tiếp" style="width:85%">
                <div class="container">
                    <h2>Khóa Học Trực Tiếp</h2>
                    <p class="title">CEO & Founder</p>
                    <p>Bạn được gặp gỡ và giảng dạy trực tiếp bởi các chuyên gia đầu ngành.</p>
                    <p>kiet@gmail.com</p>
                    <p><a href="../Home/RegisterClass"><button class="button">Đăng kí</button></a></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="https://linkpower.vn/storage/photos/bai%20viet/h%C3%A0nh%20ch%C3%ADnh%20nh%C3%A2n%20s%E1%BB%B1/KPI/B%C3%ACa%20tr%E1%BB%B1c%20tuy%E1%BA%BFn.jpg" alt="Khóa Học Online" style="width:75%">
                <div class="container">
                    <h2>Khóa Học Online</h2>
                    <p class="title">Art Director</p>
                    <p>Bạn được học những bài giảng hữu ích bởi các giảng viên và có đội ngũ hỗ trợ nhiệt tình.</p>
                    <p>An@hotmail.com</p>
                    <p><a href="../Home/Index"><button class="button">Đăng kí</button></a></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="~/Images/Anh.png" alt="Khóa Học Chuyên Sâu" style="width:100%" />
                <div class="container">
                    <h2>Khóa Học Chuyên Sâu</h2>
                    <p class="title">Designer</p>
                    <p>Bạn được nâng cao trình độ và kinh nghiệm của mình, bộc lộ những tài năng của bạn.</p>
                    <p>john@example.com</p>
                    <p><a href="../Home/RegisterClass"><button class="button">Đăng kí</button></a></p>
                </div>
            </div>
        </div>
    </div>
</body>