@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<main aria-labelledby="title">
        <h2 id="title">@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>

        <address>
            One Microsoft Way<br />
            Redmond, WA 98052-6399<br />
            <abbr title="Phone">P:</abbr>
            425.555.0100
        </address>

        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </main>*@
<link href="~/Content/Contactcss.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
<body style="height: 1000px">
    <div class="container" style="margin-top: 100px">
        <div class="content">
            <div class="left-side">
                <div class="address details">
                    <i class="fas fa-map-marker-alt"></i>
                    <div class="topic">Address</div>
                    <div class="text-one">Việt Nam, TP.HCM</div>
                    <div class="text-two">238 Sư Vạn Hạnh</div>
                </div>
                <div class="phone details">
                    <i class="fas fa-phone-alt"></i>
                    <div class="topic">Phone</div>
                    <div class="text-one">098 9893 5647</div>
                    <div class="text-two">096 3434 5678</div>
                </div>
                <div class="email details">
                    <i class="fas fa-envelope"></i>
                    <div class="topic">Email</div>
                    <div class="text-one">Hoanganh@gmail.com</div>
                    <div class="text-two">Ledangiakiet@gmail.com</div>
                </div>
            </div>
            <div class="right-side">
                <div class="topic-text">Hãy nhắn cho chúng tôi</div>
                <p>Nếu bạn có bất kỳ công việc nào từ tôi hoặc bất kỳ loại truy vấn nào liên quan đến hướng dẫn của tôi, bạn có thể gửi tin nhắn cho tôi từ đây. Tôi rất hân hạnh được giúp đỡ bạn.</p>
                <form action="#">
                    <section class="msger">
                        <header class="msger-header">
                            <div class="msger-header-title">
                                <i class="fas fa-comment-alt"></i> Chat với tổng đài hỗ trợ
                            </div>
                            <div class="msger-header-options">
                                <span><i class="fas fa-cog"></i></span>
                            </div>
                        </header>

                        <main class="msger-chat">
                            <div class="msg left-msg">
                                <div class="msg-img"
                                     style="background-image: url(https://image.flaticon.com/icons/svg/327/327779.svg)"></div>

                                <div class="msg-bubble">
                                    <div class="msg-info">
                                        <div class="msg-info-name">Nhân viên chăm sóc khách hàng</div>
                                        <div class="msg-info-time">@DateTime.Now.ToString("HH:mm:ss")</div>
                                    </div>

                                    <div class="msg-text">
                                        Xin chào! Rất vui được gặp bạn, bạn có muốn mình hỗ trợ gì không? 😄
                                    </div>
                                </div>
                            </div>

                            <div class="msg right-msg">
                                <div class="msg-img"
                                     style="background-image: url(https://image.flaticon.com/icons/svg/145/145867.svg)"></div>

                                <div class="msg-bubble">
                                    <div class="msg-info">
                                        <div class="msg-info-name">Khách hàng</div>
                                        <div class="msg-info-time">@DateTime.Now.ToString("HH:mm:ss")</div>
                                    </div>

                                    <div class="msg-text">
                                        Tôi có việc này muốn nhờ bạn giúp!
                                    </div>
                                </div>
                            </div>
                        </main>

                        <form class="msger-inputarea">
                            <input type="text" class="msger-input" placeholder="Enter your message...">
                            <button type="submit" class="msger-send-btn">Send</button>
                        </form>
                    </section>
                </form>
            </div>
        </div>
    </div>
    <script src="~/Scripts/Contact.js"></script>
</body>